/* main settings gedeelte */
.hidden {
  display: none;
}

.settings-container {
  width: 70vw;
  height: 55vh;
}

#gebruikersnaam-settings > p,
#icoon-settings > p,
#beveiliging-settings > p,
#mood-settings > p {
  margin-top: 2%;
  font-size: large;
}

/* main settings gedeelte einde*/
.keuze-setting {
  font-size: larger;
}

#settingsBtn {
  height: 2rem;
  width: 10rem;
  text-align: center;
}

#settingsBtn:hover,
#settingsBtn:focus {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

#mainAccount {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8vh;
}

.sideMenu {
  margin-bottom: 1rem;
  background-color: #959595;
  height: 65vh;
  width: 20vw;
  opacity: 80%;
  display: flex;
  padding: 1%;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mainSetting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  opacity: 80%;
  height: 65vh;
  width: 80vw;
}

#dropdownMenu {
  z-index: 1;
}

.musicplayer {
  width: 90%;
  margin: auto;
}

#accountIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#line {
  height: 3px;
  width: 15vw;
  background-color: black;
}

/* gebruikers icoonen */
.user-keuze {
  margin: 2%;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.user-keuze:hover,
.user-keuze:focus {
  border: solid black 2px;
}

#userIcoonStandaard,
#userIcoon1,
#userIcoon2,
#userIcoon3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#userIcoonStandaard {
  background-image: url("../assets/icons/person.jpg");
}
#userIcoon1 {
  background-image: url("../assets/gebruikers-icoon/user1.png");
}
#userIcoon2 {
  background-image: url("../assets/gebruikers-icoon/user2.png");
}
#userIcoon3 {
  background-image: url("../assets/gebruikers-icoon/user3.png");
}
/* gebruikers icoonen einde */

@media (max-width: 750px) {
  #accountIcon,
  .user-keuze {
    width: 3.5rem;
    height: 3.5rem;
  }

  .sideMenu {
    width: 30vw;
  }

  #settingsBtn {
    font-size: small;
  }

  .settings-container {
    width: 60vw;
  }
}
