/*
detailweergave track/artist 

tonen cover/afbeelding, titel/naam, artiest(en), album, relevante audio-features 

mogelijkheid om te liken/unliken met hart-icoon en bevestigingsflow 

*/

/*          */
/*  MAIN    */
/*          */
.main-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-item2{
  order: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    "album album details details"
    "album album details details"
    "like like details details";
}
#albumlogo {
  grid-area: album;
  width: 25rem;
  height: 25rem;
  background-image: url("../assets/album-covers/AcDc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#likediv {
  grid-area: like;
  display: flex;
  background-color: #959595;
  height: 5rem;
  width: 25rem;
  justify-content: center;
  align-items: center;
}
#likeButton {
  width: 10rem;
  height: 3rem;
  text-align: center;
  border: 1px solid rgb(141, 7, 7);
  border-radius: 1rem;
}
#likeButton:focus:hover{
  border: 3px solid black;
}
#details {
  background-color: rgb(240, 237, 233);
  grid-area: details;
  width: 35rem;
  height: 100%;
}
#detailUl {
  margin-left: 3rem;
  width: 80%;
}
.detailLi {
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  align-content: center;
}

#likeButton:hover{
    border: 3px solid black;
}
#likeButton:focus{
    border: 3px solid black;
}
p{ color: blue;}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  #albumlogo{
    width: 20rem;
    height: 20rem;
  }
  #likediv{
    width: 20rem;
    justify-content: center;
    align-items: center;
  }
  #details{
    width: 25rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  #albumlogo{
    width: 20rem;
    height: 20rem;
  }
  #likediv{
    width: 20rem;
    justify-content: center;
    align-items: center;
  }
  #details{
    width: 20rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    " album like  "
    " details details "
    " details details ";
  }
  #albumlogo{
    width: 10rem;
    height: 10rem;
  }
  #likediv{
    width: 20rem;
    height: 4rem;
    align-self: flex-end;
  }
  #likeButton{
    width: 4rem;
  }  
  #details{
    width: 30rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    " album like  "
    " details details "
    " details details ";
  }
  #albumlogo{
    width: 10rem;
    height: 10rem;
  }
  #likediv{
    width: 20rem;
    height: 4rem;
    align-self: flex-end;
  }
  #likeButton{
    width: 4rem;
  }  
  #details{
    width: 30rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
  .main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    " album like  "
    " details details "
    " details details ";
  }
  #albumlogo{
    width: 10rem;
    height: 10rem;
  }
  #likediv{
    width: 20rem;
    height: 4rem;
    align-self: flex-end;
  }
  #likeButton{
    width: 4rem;
  }  
  #details{
    width: 30rem;
  }  
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  .main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    " album like  "
    " details details "
    " details details ";
  }
  #albumlogo{
    width: 10rem;
    height: 10rem;
  }
  #likediv{
    width: 15rem;
    height: 4rem;
    align-self: flex-end;
  }
  #likeButton{
    width: 4rem;
  }  
  #details{
    width: 25rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 450px) {
  .main-item1 {
  order: 2;
  display: grid;
  grid-template-areas:
    " album like  "
    " details details "
    " details details ";
  }
  #albumlogo{
    width: 10rem;
    height: 10rem;
  }
  #likediv{
    width: 10rem;
    height: 4rem;
    align-self: flex-end;
  }
  #likeButton{
    width: 4rem;
  }  
  #details{
    width: 20rem;
  } 
}