/*
HEADER CSS
*/
header {
  background-color: black;
  width: 100vw;
  height: 15%;
  margin: auto;
  align-content: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.background-icons {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-header {
  width: 2.5rem;
  height: 2.5rem;
}
.logo-header {
  width: 5rem;
  height: 5rem;
  border-radius: 25%;
}

.search {
  width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #d9d9d9;
  border-radius: 2rem;
  padding: 0.5rem;
}
::placeholder {
  opacity: 50%;
}

/* header dropdown */
.menu {
  align-items: center;
  position: absolute;
  top: 7rem;
  left: 2rem;
  width: 15rem;
  background: #111;
  padding: 15px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.background-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.hidden {
  display: none;
}

/*
TEKST CSS
*/

/*
BACKGROUND KLEUREN + KLEUREN
*/
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #ff0000 0%, #403f3f 40%, #403f3f 100%)
    no-repeat;
}

/* Aanbevelingen main*/

main {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aanbeveling {
  width: 55vw;
  height: 55vh;
  background-color: #222222;
  border-radius: 2rem;
  text-align: center;
}

h1 {
  margin-top: 1rem;
  color: #d9d9d9;
  font-size: 2rem;
  font-weight: bold;
}

.aanbeveling-center {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.aanbeveling-row1 {
  display: flex;
  gap: 3rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.aanbeveling-row2 {
  display: flex;
  gap: 3rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.album-cover {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 25%;
}
