/*
CSS BESTAND VOOR DE LANDINGS-PAGINA WAAR AL DE PROJECTEN ZICHTBAAR ZIJN.

LEGENDE: 

*/

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
}

.ondertekstProject {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 2rem;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: #959595;
}

#logo {
  height: 100px;
  width: 100px;
}

.landingcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 35rem;

  padding: 30px;
  border-radius: 6px;
}

.landingheader {
  background: #959595;
  padding: 15px;
  align-self: center;
  align-items: center;
  height: 8rem;
  justify-content: center;
  width: 50rem;
}

.landingprofiel {
  justify-content: end;
  position: relative;
}

.landingtitel {
  text-align: center;
}

.projecten {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 50rem;
}
#lego,
#music,
#gameHub {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 180px;
  height: 260px;
  cursor: pointer;
}

#lego {
  background-image: url("../assets/project-banners/LEGO_Grey.png");
}
#music {
  background-image: url("../assets/project-banners/Music_Grey.png");
}
#gameHub {
  background-image: url("../assets/project-banners/GameHub_Grey.png");
}

#lego:hover,
#lego:focus {
  background-image: url("../assets/project-banners/LEGO.png");
}
#music:hover,
#music:focus {
  background-image: url("../assets/project-banners/Music.png");
}
#gameHub:hover,
#gameHub:focus {
  background-image: url("../assets/project-banners/GameHub.png");
}

.projectkeuze {
  position: relative;
  width: 180px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Gedeelte voor Foutieve invoer userEmail en userPasword. */
#inlogErrorBox {
  position: absolute;
  border: 10px solid rgb(243, 5, 5);
  background-color: #ffffff;
  border-radius: 25px;
  width: 350px;
  margin: auto;
  text-align: center;
  align-self: center;
}

.buttonError,
.buttonInlog {
  width: 250px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonError:focus,
.buttonInlog:focus {
  background: rgb(220, 220, 220);
  border: 3px solid black;
}
.buttonError:hover,
.buttonInlog:hover {
  background: rgb(220, 220, 220);
  border: 3px solid black;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.buttonError,
.buttonInlog {
  width: 100px;
}
.hidden {
  display: none;
}

footer {
  margin-top: 5%;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

@media (max-width: 850px) {
  .projecten {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  .projectkeuze {
    align-self: center;
    width: 100vw;
    height: 15rem;
    align-items: center;
  }

  #lego,
  #music,
  #gameHub {
    width: 400px;
    height: 260px;
  }

  .ondertekstProject {
    width: 400px;
    height: 2rem;
  }

  footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .projectkeuze {
    align-self: center;
    width: 300px;
    height: 200px;
  }
}
