/*
CSS BESTAND VOOR INLOG EN REGISTRATIE -PAGINA.

LEGENDE: 

*/

/* Inlog/registatie pagina */

/*
KLEURENPALLET VOOR INLOG / REGISTRATIE PAGINA
*/
:root {
  --background01: #f6f3f3;
  --tekst01: black;
  --tekst02: #9d2929;
  --buttoncolor01: black;
  --buttoncolor02: #ffffff;
  --bordercolor01: black;
  --bordercolor02: grey;
  --titlecolor01: #9d2929;
}
body {
  max-width: 1440px;
  margin: auto;
  background-color: var(--background01);
}
h1 {
  color: var(--tekst02);
  margin: auto;
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}
button {
  width: 250px;
  height: 40px;
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
input {
  border: 1px solid var(--bordercolor02);
  border-radius: 10px;
  height: 45px;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
label{
    height: 35px;
    width: 350px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}
.section-box {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 75px;
}
.main-container {
  display: flexbox;
  flex-direction: column;
}
.main-item {
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-item {
}
.logo-container {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 50px;
}
.Logo {
  width: 150px;
  height: 150px;
}
.icon{
    width: 25px;
    height: 25px;
}
.buttonInlog {
  background-color: #9d2929;
  border-color: #9d2929;
  color: #ffffff;
}
.buttonRegistreren {
  border-color: #9d2929;
  color: #9d2929;
}
.buttonRecovery {
    border-color: #ffffff;
}
button:focus{
    outline: solid black 1px;
    height: 45px;
    width: 255px;
}
