.musicplayer {
  width: 90%;
  margin: 1% auto;
}

.playlist-container {
  position: relative;
  z-index: 1;
  padding: 2%;
  margin: auto;
  width: 80vw;
  height: 60vh;
  background-color: #a6a1a1;
  display: flex;
  gap: 3%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.playlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 5% 5% 0 0;
  width: 8rem;
  height: 11rem;
}

.playlist-buttons {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  background-color: #f7f2f2;
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.playlist-icon {
  margin: 6%;
  height: 2rem;
  width: 2rem;
}

.playlistBtn {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

#addPlaylist {
  background-color: #d6d2d2;
}

.playlistCover {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 5% 5% 0 0;
}

#addIcon {
  width: 5rem;
  height: 5rem;
}

.music-playlist {
  background: red;
  z-index: 2;
  padding: 2%;
  margin: auto;
  width: 80vw;
  height: 60vh;
  background-color: #f0dfdf;
  display: flex;
  gap: 3%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
/* begin van de nummers in de playlisten */
.resultaat {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  background-color: rgb(165, 160, 160);
  width: 79vw;
  height: 6rem;
  flex-shrink: 0;
  margin-top: 1rem;
}
.resultaat-cover {
  margin: 0 5% 0 5%;
  border-radius: 5%;
}
.resultaat-tekst {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.like,
.like-btn,
.play,
.play-btn,
.remove,
.remove-btn {
  width: 40px;
  height: 40px;
}

.like-btn,
.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.Title {
  font-weight: bold;
  font-size: larger;
}
.returnArrow {
  margin-left: 5%;
  height: 3rem;
  width: 3rem;
}

.hidden {
  display: none;
}

@media (max-width: 850px) {
  .returnArrow {
    margin-left: 5%;
    height: 2rem;
    width: 2rem;
  }
  .resultaat {
    gap: 5%;
  }
  .resultaat-cover {
    width: 70px;
    height: 70px;
  }

  .like,
  .like-btn,
  .play,
  .play-btn,
  .remove,
  .remove-btn {
    width: 25px;
    height: 25px;
  }
  .resultaat-tekst {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  .like-btn:hover,
  .like-btn:focus,
  .play-btn:hover,
  .play-btn:focus {
    transform: none;
  }

  .playlist-container,
  .music-playlist {
    height: 70vh;
  }
  .playlistCover,
  .playlistBtn {
    width: 5.5rem;
    height: 5.5rem;
  }

  #addIcon {
    width: 4rem;
    height: 4rem;
  }

  .playlist {
    width: 6rem;
    height: 8.5rem;
    justify-content: flex-end;
  }

  .playlist-buttons {
    width: 6rem;
    height: 2.5rem;
  }

  .playlist-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .music-playlist {
    top: 55%;
    left: 50%;
    width: 80vw;
    height: 67vh;
  }
}
