


:root {
    --playbar_set_height: 64px;
    --playbar_margin_top_bottom: 20px;
    --playbar_height: calc( var(--playbar_set_height) + var(--playbar_margin_top_bottom) * 2);    
}


.playbar{
    background: linear-gradient(to right, #d5d1d1 0%, #f0dede 60%, #f0dede 100%) no-repeat;
    height: var(--playbar_set_height);
    border-radius: 3rem;

    display: flex;
    align-items: center;
    padding: 0px 40px;
    margin: var(--playbar_margin_top_bottom) 0px;
    width: 100%;
    
}

@media (max-width: 450px) {
    
    :root {
        --playbar_set_height: 7rem;

        --playbar_margin_top_bottom: 5px;



        --playbar_height: calc( var(--playbar_set_height) + var(--playbar_margin_top_bottom) * 2 );    
    }
    
    .playbar{
        padding: 0px 0px;
        padding-bottom: 10px;
        width: 95%;
        border-radius: 5vw;


        display: grid;

        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr ;
    }

    .track_playing{
        grid-column:  1 / 3;
        grid-row:  2 / 3;
    }


}


.playbar img{
    border-radius: 50%;
    height: 3.5rem;
    margin-right: auto;
}

@media (max-width: 450px) {
    .playbar img{
        margin: 0;
        margin: 0px auto;
    }
}


.track_playing{
    margin-right: min(100px, 2vh);
    cursor: default;
}


.title_playing{
    font-weight: 300;
    font-size: 1.4rem;
}

@media (max-width: 500px) {
    .track_playing{
        text-align: center;

        & > .title_playing{
            font-size: 1rem;
        }

    }
}
.artist_playing{
    text-align: center;
}

.track_control{
    background-color: #f8f3f3;
    border-radius: 2.5rem;
    margin-left: auto;
    margin-right: 0px;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px;

    height: var(--button_size);
    
}


@media (max-width: 450px) {
    .track_control{
        padding: 3px;
        margin: 0;

        height: calc(1.8rem  + 10px);

        margin: 0px auto;
    }
}

.track_control button{
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}





.track_control button:active{
    border-color: black;
}

@media (max-width: 450px) {
    .track_control button:active{
        border-color: transparent;
    }

    .track_control button:active {
        border-color: black;
    }
}



.track_control button img{
    height: 100%;
}


