


main{
    display: flex;

    flex-grow: 1;
    flex-direction: row;
    padding-top: 10px;

    column-gap: min(6vw, 70px);
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    gap: 20px;
}


.search_for{
    display: flex;

}

input{
    padding: 10px 10px 10px 20px;
    width: clamp(150px, 35vw, 400px);
    border-radius: 30px;
    font-size: 1.2rem;
}


@media (max-width: 450px) {

    input{
        
        font-size: 0.8rem;
        padding: 7px;
    }

    main{
        column-gap: 10px;
        padding: 0px 10px;
    }

    section{
        gap: 5px;
        margin-top: 5px;
        width: calc(50% - 5px);
    }
}


article{
    padding: min(1vw, 20px) min(1vw, 30px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    background-color: #cccccc;
    width: clamp(200px, 43vw, 450px);

    max-width: 500px;
    height: 100%;


/* 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */

    display: grid;

    grid-template-columns: auto;
    
    grid-template-rows: 45% 45% 10%;
    
}


@media (max-width: 450px) {


    article{
        width: unset;
    }
}



/* section:nth-child(1) article,section:nth-child(1) .search_for{
    margin-right: min(4vw, 50px);
}

section:nth-child(2) article, section:nth-child(2) .search_for{
    margin-left: min(4vw, 50px);
} */

article img{
    height: clamp(100px, 10vw, 150px);
    width: clamp(100px, 10vw, 150px);
}


.track_info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .track_info{
        align-items: center;
        flex-direction: column;
    }
}


.track_name{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: min(2vw, 20px);
    gap: 5px;

    white-space: nowrap;

    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.track_name h2{
    font-weight: 700;
    font-size: clamp(01rem, 3vw, 1.3rem);
    white-space: wrap;
}

.track_name h3{
    white-space: wrap;
    font-size: clamp(01rem, 3vw, 1.3rem);
    font-weight: 300;
}


.stats{
    display: grid;
    height: 200px;
    width: min(calc( 100% - min(1vw, 20px) * 2), 400px);
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;

    
}


@media (max-width: 450px) {
    .stats{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;

    }
    
}


.stats > div{
    margin: 5px;
    background-color: #b07a7a;
    color: white;

    padding: min(20px, 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    word-spacing: 5px;

    
}


.stats > div p{
    font-size: clamp(01rem, 4vw, 2rem);
    position: relative;
    top: clamp(-3px, -0.2vw, 0px);
}


@media (max-width: 1000px) {
    .stats > div{
        text-align: center;
        white-space: wrap;
        line-height: 1.5rem;

    }
}


.stats .green{
    background-color: rgb(107, 153, 138);
}


.options{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.options button{
    position: relative;
    
    height: clamp(25px, 8vw, 46px);
    width: clamp(25px, 8vw, 46px);
    background-color: white;
    border: 3px solid #cccccc;


    display: grid;
    place-content: center;
    border-radius: 50%;
}

@media (max-width: 450px) {
    .options button{
        height: calc(1.8rem );
        width:  calc(1.8rem );;
    }
}




.options button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

    border-radius: 50%;
    border: clamp(2px, 1vw, 4px) solid black;
}


.options button:hover{
    border-color: black;
    cursor: pointer;
}

@media (max-width: 450px) {
    .options button:hover{
        border-color: transparent;
    }

    .options button:active{
        border-color: black;
    }
}

.options img{
    height: 100%;
    width: 100%;
}